body{
    text-align: center;
    font-family: 'comfortaa';
    background: black;
    color: white;
}


a:link {
  color: red;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: purple;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #6e0101;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

#icon {
  width: 10vw;
  height: 10vw;
}

@media screen and (max-width: 768px) {

  #icon{
    width: 30vw;
    height: 30vw;
  }
  
  /* banner and borders*/
  #image{
    max-width: 100vw;
    max-height: auto;
  }
}