body{
    text-align: center;
    font-family: 'comfortaa';
    background: black;
    color: white;
}


a:link {
  color: red;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: purple;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #6e0101;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: darkgreen;
  background-color: transparent;
  text-decoration: underline;
}

img {
  width: 100%;
  height: auto;
}